# Activité 6 :

#### 1- Importer la bibliothèque Pandas

<img src="pandas/act-6-1.png" style="float:left;">

#### 2- Charger le fichier « Precipitation.txt » dans un DataFrame

<img src="pandas/act-6-2.png" style="float:left;">

#### 3- Afficher les premières lignes du DataFrame

<img src="pandas/act-6-3.png" style="float:left;">

#### 4- Afficher les lignes dont les précipitations sont supérieures à 150 mm en Tunis

<img src="pandas/act-6-4.png" style="float:left;">

#### 5- Afficher les lignes dont les précipitations sont supérieures à 150 mm en Tunis et en Ariana

<img src="pandas/act-6-5.png" style="float:left;">

# Syntaxe et définition :

<img src="pandas/act-6-tab.png">

```Python
opComp : >, <, >=, <=, ==, != (différent)
opLog :  & (et), | (ou)
```