# Activité 4 :

#### 1- Importer la bibliothèque Pandas

<img src="pandas/act-4-1.png" style="float:left;">

#### 2- Charger le fichier « Precipitation.xlsx » dans un DataFrame

<img src="pandas/act-4-2.png" style="float:left;">

#### 3- Afficher les premières lignes du DataFrame

<img src="pandas/act-4-3.png" style="float:left;">

#### 4- Remplacer le contenu de la ligne n° 20 de la dernière colonne par la valeur « 150 »

<img src="pandas/act-4-4.png" style="float:left;">

#### 5- Remplacer les données de la ligne n° 21 par les données suivante : "ME-412", 2021, 150, 150, 150, 150

<img src="pandas/act-4-5.png" style="float:left;">

#### 6- Ajouter la colonne « CumulGrandTunis » contenant les cumuls de chaque année

<img src="pandas/act-4-6.png" style="float:left;">

# Syntaxe et définition :

<img src="pandas/act-4-tab.png">